<div class="page-header">
	<h3>Create</h3>
</div>

<form class="form-horizontal">
	<div class="form-group">
		<label class="control-label col-sm-2" for="name">Nom</label>
		<div class="col-sm-10">
			<textarea ng-model="pictureEntry.name" id="name" class="form-control" rows="10">{{pictureEntry.name}}</textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<button type="submit" class="btn btn-primary" ng-click="save()"><span class="glyphicon glyphicon-ok"></span> Save</button>
		</div>
	</div>
</form>