<div class="pull-right">
	<a href="#!/create" class="btn btn-default" title="Create"><span class="glyphicon glyphicon-plus"></span></a>
</div>
<div class="page-header">
	<h3>Images</h3>
</div>

<div ng-repeat="pictureEntry in pictureEntries"  ng-show="hasRole('user')||hasRole('admin')">
	<hr />
	<div class="pull-right">
		<a href="" ng-click="deleteEntry(pictureEntry)" class="btn btn-xs btn-default"  title="delete" ng-show="hasRole('user')||hasRole('admin')"><span class="glyphicon glyphicon-trash"></span></a>

		<!--<a href="#!/edit/{{pictureEntry.id}}" class="btn btn-xs btn-default" ng-show="hasRole('user')" title="edit"><span class="glyphicon glyphicon-pencil"></span></a>-->
		<a href="#!/edit/{{pictureEntry.id}}" class="btn btn-xs btn-default" ng-show="hasRole('admin')" title="edit"><span class="glyphicon glyphicon-pencil"></span></a>
	</div>
	<h4>{{pictureEntry.name}}</h4>
	<p>
		<img id="low" alt="image" width="100" height="100" src="/rest/files/low/{{pictureEntry.id}}?token={{authToken.valueOf()}}"  />
		<a href="/rest/files/full/{{pictureEntry.id}}?token={{authToken.valueOf()}}" target="_blank"> Qualité normale
		</a>
		<a href="/rest/files/medium/{{pictureEntry.id}}?token={{authToken.valueOf()}}" target="_blank"> Qualité moyenne
		</a>
		<a href="/rest/files/low/{{pictureEntry.id}}?token={{authToken.valueOf()}}" target="_blank"> Qualité faible
		</a>
	</p>
	<hr />
</div>
